doctype html
html
  head
    title
    title Create Issue
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/create-issue.css')

  
  body
    include includes/head.pug
    
    .form
      form(method='POST', action=`/projects/`+project_id+`/issues/unassigned`, enctype='multipart/form-data')
        .custom-header
          | Issue Information
        .form-group
          label(for='projectId')
            | Project
          input.form-control(type='text', name='projectId', value= project_id+': '+project_name, disabled)
        .form-group
          label(for='priority') Issue Priority
          select.form-control(name='priority')
            option(value=1) Minor
            option(value=2, selected) Normal
            option(value=3) Major
            option(value=4) Critical
        .form-group
          label(for='summary')
            | Summary 
            small.text-muted (max 200 characters)
          textarea.form-control(name='summary', rows='3', maxlength='200', title='maximum 200 characters', placeholder='summary', required)
        .form-group
          label(for='description')
            | Description File 
            small.text-muted (pdf)
          input(type='file', name='info', accept='.pdf')
        button.btn.btn-primary(type='submit') Submit

    include includes/footer.pug