doctype html
html
  head
    title
    title Create Issue
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/create-issue.css')

  body
    include includes/head.pug
    
    .form
      form(action='/projects', method='POST')
        .custom-header
          | Project Info
        .form-group
          label(for='projectName') Name of Project
          input.form-control(type='text', placeholder='Enter project name', name="projectName", required)
        .form-group
          label(for='head-usr') Head Username
          div
            input#headId(list='available-usernames', name='headUsr', required, autocomplete="off")
            datalist#available-usernames
              -for(var i=0; i<users.length; i++)
                option(value=users[i].username)
        .form-group
          label(for='summary')
            | Summary 
            small.text-muted (max 200 characters)
          textarea.form-control(rows='3', maxlength='200', title='maximum 200 characters', placeholder='summary', name="summary", required='')
        .form-group
          label(for='exp-end-date')  Expected end date 
          input(type='date', name="expDate", required)
        button.btn.btn-primary(type='submit') Submit
