doctype html
html
  head
    title
    title Create Issue
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-dashboard.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/create-issue.css')

  
  body
    nav.navbar.navbar-expand-lg.navbar-custom.py-2
      a.navbar-brand.text-white(href='/')
        img.d-inline-block.align-center(src='/icons/bug.png', width='64', height='64', alt='')
        | 	  	BugTracker
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        .navbar-nav
          a.nav-item.nav-link.text-white.nit-custom(href='/logout')
            | Logout 
            span.sr-only (current)
    

    .sidenav.clr-side
      .clr-side-hvr
        a(href='/profile')
          img.align-center(src='/icons/person-fill.svg', width='24', height='24', alt='')
          br
          |                 Profile
      hr
      .clr-side-hvr
        a(href='/dashboard')
          img.align-center(src='/icons/house-fill.svg', width='24', height='24', alt='')
          br
          | 				Home
      hr
      .clr-side-hvr
        a(href='/issues')
          img.align-center(src='/icons/file-ruled.svg', width='24', height='24', alt='')
          br
          | 				Issues
      hr
      .clr-side-hvr
        a(href='/projects')
          img.align-center(src='/icons/grid.svg', width='24', height='24', alt='')
          br
          | 				Projects
        hr
      .clr-side-hvr
        a(href='#')
          img.align-center(src='/icons/graph-up.svg', width='24', height='24', alt='')
          br
          | 				Progress
    
    .form
      form(method='POST', action=`/projects/`+project_id+`/issues/unassigned`, enctype='multipart/form-data')
        .custom-header
          | Issue Information
        .form-group
          label(for='personId') Person ID
          input.form-control(type='text', name='person_id', placeholder='Enter person id')
        .form-group
          label(for='priority') Issue Priority
          select.form-control(name='priority')
            option(value='minor') Minor
            option(value='normal', selected='') Normal
            option(value='major') Major
            option(value='critical') Critical
        .form-group
          label(for='summary')
            | Summary 
            small.text-muted (max 200 characters)
          textarea.form-control(name='summary', rows='3', maxlength='200', title='maximum 200 characters', placeholder='summary', required)
        .form-group
          label(for='description')
            | Description File 
            small.text-muted (pdf)
          input(type='file', name='info', accept='.pdf')
        button.btn.btn-primary(type='submit') Submit
