doctype html
html
  head
    title Dashboard
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-dashboard.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
  

  body
    nav.navbar.navbar-expand-lg.navbar-custom.py-2
      a.navbar-brand.text-white(href='/')
        img.d-inline-block.align-center(src='/icons/bug.png', width='64', height='64', alt='')
        | 	  	BugTracker
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        .navbar-nav
          a.nav-item.nav-link.text-white.nit-custom(href='/about')
            | About 
            span.sr-only (current)
    

    .sidenav.clr-side
      .clr-side-hvr
        a(href='/dashboard')
          img.align-center(src='/icons/house-fill.svg', width='24', height='24', alt='')
          br
          | 				Home
      hr
      .clr-side-hvr
        a(href='/issues')
          img.align-center(src='/icons/file-ruled.svg', width='24', height='24', alt='')
          br
          | 				Issues
      hr
      .clr-side-hvr
        a(href='/projects')
          img.align-center(src='/icons/grid.svg', width='24', height='24', alt='')
          br
          | 				Projects
        hr
      .clr-side-hvr
        a(href='#')
          img.align-center(src='/icons/graph-up.svg', width='24', height='24', alt='')
          br
          | 				Progress
    

    .main.h-100
      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-6.bg-success
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Assigned
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Unassigned
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Open
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Resolved
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
          
          
          .col-xs-12.col-md-6.bg-warning
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Timeline
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
