doctype html
html
  head
    title Dashboard
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
  

  body
    include includes/head.pug

    .main.h-100
      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-6

            .card.card-custom
              .card-header.header-custom
                img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                | 					    		Member of Projects
              .card-body.zero-pad
                table.data-table
                  thead
                    tr
                      th Id
                      th Name
                  tbody
                    each project in projects
                      tr
                        td.card-iss-id
                          a(href="/projects/" + project.Id, target='_blank')= project.Id
                        td= project.Name
            
            .card.card-custom#assigned
              .card-header.header-custom
                img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                | 					    		Issues Assigned to you
              .card-body.zero-pad
                table.data-table
                  thead
                    tr
                      th Id
                      th Summary
                  tbody
                    each issue in issues
                      tr
                        td.card-iss-id
                          a(href="/issues/" + issue.id, target='_blank')= issue.id
                        td= issue.summary
          
          
          .col-xs-12.col-md-6
            .card.card-custom
              .card-header.header-custom
                img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                | 					    		Timeline(to do)
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id
                      td issues in projects in which member
                    tr
                      td.card-iss-id id
                      td comments

    include includes/footer.pug
  
