doctype html
html
  head
    title Dashboard
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
  

  body
    include includes/head.pug

    .main.h-100
      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-6
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Assigned
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Unassigned
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Open
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
            
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Resolved
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik
          
          
          .col-xs-12.col-md-6
            .card.card-custom
              .card-header.header-custom
                a(href='#')
                  img.align-center(src='/icons/list-ul.svg', width='16', height='16', alt='')
                  | 					    		Timeline
              .card-body.zero-pad
                table.data-table
                  tbody
                    tr
                      td.card-iss-id id=89
                      td rule no.1 - never trust
                    tr
                      td.card-iss-id id=2567
                      td rule no.2 - ik

    include includes/footer.pug
  
