doctype html
html
  head
    title Issues
    link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-dashboard.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/issues.css')
  

  body
    nav.navbar.navbar-expand-lg.navbar-custom.py-2
      a.navbar-brand.text-white(href='#')
        img.d-inline-block.align-center(src='/icons/bug.png', width='64', height='64', alt='')
        | 	  	BugTracker
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        .navbar-nav
          a.nav-item.nav-link.text-white.nit-custom(href='#')
            | About 
            span.sr-only (current)
    

    .sidenav.clr-side
      .clr-side-hvr
        a(href='/dashboard')
          img.align-center(src='/icons/house-fill.svg', width='24', height='24', alt='')
          br
          | 				Home
      hr
      .clr-side-hvr
        a(href='/issues')
          img.align-center(src='/icons/file-ruled.svg', width='24', height='24', alt='')
          br
          | 				Issues
      hr
      .clr-side-hvr
        a(href='/projects')
          img.align-center(src='/icons/grid.svg', width='24', height='24', alt='')
          br
          | 				Projects
        hr
      .clr-side-hvr
        a(href='/progress')
          img.align-center(src='/icons/graph-up.svg', width='24', height='24', alt='')
          br
          | 				Progress
    
    
    .main.h-100
      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-12.bg-success
            .card.card-custom
              .card-header.header-custom
                img.align-center(src='/icons/list-ul.svg', width='30', height='30', alt='')
                | 					    		Get Issue By Id
                .search
                  input(type='text', name='issue', placeholder='#issue')
                  button(type='submit')
                    img(src='/icons/search.svg', height='16', width='16', alt='')
              .card-body.zero-pad
                table.data-table
                  thead
                    tr
                      th Id
                      th Status
                      th Priority
                      th Summary
                  tbody 
                    each issue in issues
                      tr
                        td
                          a(href='/issues/' + issue.id)= issue.id
                        td= issue.status
                        td= issue.priority
                        td= issue.summary
