doctype html
html
  head
    title Project
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/projects-options.css')
  

  body
    include includes/head.pug
    

    .main.h-100

      .project
        div= 'Project - ' + project_name + ' ( id: ' + project_id + ')'

      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-6
            .card.card-custom
              .card-body
                h5.card-title.cntr Description
                img.card-img(src='/icons/question.png', alt='')
                p.card-text.cntr What this project is for?
                .cntr
                  a.btn.btn-warning(href='#') Explore
            
            .card.card-custom
              .card-body
                h5.card-title.cntr(title='Project Name') Issues
                img.card-img(src='/icons/issue.png', alt='')
                p.card-text.cntr Issues maintained
                .cntr
                  a.btn.btn-warning(href=`/projects/`+project_id+`/issues`) Explore
          

          .col-xs-12.col-md-6
            .card.card-custom
              .card-body
                h5.card-title.cntr Members
                img.card-img(src='/icons/team.svg', alt='')
                p.card-text.cntr Collaborators in project
                .cntr
                  a.btn.btn-warning(href='/projects/' + project_id + '/members') Explore
            
            .card.card-custom
              .card-body
                h5.card-title.cntr Progress
                img.card-img(src='/icons/graph-up.svg', alt='')
                p.card-text.cntr How much is project completed?
                .cntr
                  a.btn.btn-warning(href='/projects/' + project_id + '/progress') Explore
