doctype html
html
  head
    title Project Issues
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/projects-issues.css')
  

  body
    include includes/head.pug
    

    .main.h-100

      .project
        div= 'Project - ' + project_name + ' ( id: ' + project_id + ')'
      
      .container-fluid.h-100
        .row.h-100

          .col-xs-12.col-md-6
            .card.card-custom
              img.card-img-top.card-img(src='/icons/create.png', alt='Card image cap')
              .card-body
                h5.card-title.cntr Create Issue
                p.card-text.cntr
                  | Faced problem, add new issue
                .cntr
                  a.btn.btn-primary(href=`/projects/`+project_id+`/issues/new`) Create
            
            .card.card-custom
              img.card-img-top.card-img(src='/icons/assign.png', alt='Card image cap')
              .card-body
                h5.card-title.cntr Unassigned Issues
                p.card-text.cntr
                  | Assigned to none yet
                .cntr
                  a.btn.btn-primary(href=`/projects/`+project_id+`/issues/unassigned`) Explore

          
          .col-xs-12.col-md-6
            .card.card-custom
              img.card-img-top.card-img(src='/icons/open.png', alt='Card image cap')
              .card-body
                h5.card-title.cntr Open Issues
                p.card-text.cntr
                  | In progress issues
                .cntr
                  a.btn.btn-primary(href=`/projects/`+project_id+`/issues/open`) Explore
            
            .card.card-custom
              img.card-img-top.card-img(src='/icons/resolved.png', alt='Card image cap')
              .card-body
                h5.card-title.cntr Resolved Issues
                p.card-text.cntr
                  | Issues solved already
                .cntr
                  a.btn.btn-primary(href=`/projects/`+project_id+`/issues/resolved`) Explore

    include includes/footer.pug