body, html{
	height:100%;
}

.main{
	margin-left: 160px;
	padding: 0px 0px;
}

.sidenav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav a {
	text-align: center;
	padding: 2px 1px 5px 1px;
	text-decoration: none;
	font-size: 1.2em;
	color: black;
	display: block;
	margin-top:8px;
}

hr {
	margin: 0px 0px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.clr-side{
	background-color: #C5D0D9;
}

.clr-side-hvr:hover{
	background-color: white;
}

.form{
	height:100%;
	margin-left: 160px;
}

.form form{
	font-weight: 700;
	font-size: 1.5rem;
	padding-top: 3rem;
	width:80%;
	margin-right: 10%;
	margin-left: 10%;
}

.custom-header{
	font-size: 2em;
	text-align: center;
}

.form-group{
	padding-top: 1rem;
}

.form form button{
	font-size: 1em;
	display:block;
	margin:0 auto;
}

input[type=file]{
	display: block;
}