.main{
	padding: 0px 0px;
}

.form{
	height:100%;
}

@media all and (min-width: 1024px){
	.main{
		margin-left: 160px;
	}
	.form{
		margin-left: 160px;
	}
}

.form form{
	font-weight: 700;
	font-size: 1.5rem;
	padding-top: 3rem;
	width:80%;
	margin-right: 10%;
	margin-left: 10%;
}

.custom-header{
	font-size: 2em;
	text-align: center;
}

.form-group{
	padding-top: 1rem;
}

.form form button{
	font-size: 1em;
	display:block;
	margin:0 auto;
}

input[type=file]{
	display: block;
}