.main{
	padding: 0px 0px;
	background-color: 	#ffffff;
}

@media all and (min-width: 1024px){
	.main{
		margin-left: 160px;
	}
}

.card-custom{
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}

.card-iss-id{
	width:10%;
}

.header-custom{	
	background-color: #56baed;	
}

.data-table{
	width:100%;
	border-collapse:collapse;
}

.data-table td{
	padding:5px;
}

.data-table thead tr{
	background-color: #99B1C6;
}

.data-table tbody tr:nth-child(even){
	background-color: #f2f2f2;
}

.zero-pad{
	padding:0px;
}

#assigned table td:nth-of-type(1) a{
	font-size: 0.8rem;
}

thead th:nth-of-type(1){
	width:15%
}
thead th:nth-of-type(2){
	width:85%
}
tbody td:nth-of-type(1){
	width:15%
}
tbody td:nth-of-type(2){
	width:85%
}

table th, table td{
	text-align:center;
}