.card-custom{
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}

.card-custom a{
	color:white;
}

.card-iss-id{
	width:10%;
	border-right:2px solid black;
}

.header-custom{
	background-color: #56baed;	
}

.data-table{
	width:100%;
	border-collapse:collapse;
}

.data-table td{
	padding:5px;
}

.data-table tr:nth-child(even){
	background-color: #f2f2f2;
}

.zero-pad{
	padding:0px;
}