/*html {
	font-size: 17px;
}
@media (max-width: 900px) {
	html { font-size: 15px; }
}
@media (max-width: 400px) {
	html { font-size: 10px; }
}*/


.sidenav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

@media all and (max-width: 1023px){
  .sidenav{
    display: none;
  }
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

#dropdownMenuButton{
  background-color: #C5D0D9;
  color: black;
}

@media all and (min-width: 1024px){
  #drop{
    display: none;
  }
}

.sidenav a {
	text-align: center;
	padding: 2px 1px 5px 1px;
	text-decoration: none;
	font-size: 1.2em;
	color: black;
	display: block;
	margin-top:8px;
}

hr {
	margin: 0px 0px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.clr-side{
	background-color: #C5D0D9;
}

.clr-side-hvr:hover{
	background-color: white;
}

.navbar-custom{
    background-color: black;
}

.navbar-brand{
    font-size:2.5em;
    font-weight: 900;
}

.nit-custom{
    font-size: 1.5em;
    margin-right: 1.5em;
    font-weight: 600;
}

#user{
  font-weight: 600;
  margin-right: 20px;
}

#foot{
  z-index: 5;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  word-spacing: 5px;
}

#foot img{
  height: 30px;
  width: 30px;
}

.message{
  margin-left: 170px;
  margin-top: 1rem;
  margin-right: 10px;
}

.space{
  height: 100px;
}