.main{
	padding: 0px 0px;
	background-color: 	#ffffff;
}

@media all and (min-width: 1024px){
	.main{
		margin-left: 160px;
	}
}

.clr-side{
	background-color: #C5D0D9;
}

.clr-side-hvr:hover{
	background-color: white;
}

.card-custom{
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	border: 0px;
}

.header-custom{
	background-color: #56baed;
	font-size: 1.8em;
	font-weight: 700;
}

.data-table{
	width:100%;
	border-collapse:collapse;
}

.data-table th,.data-table td{
	border-right:2px solid black;
	border-left:2px solid black;
	padding:5px;
}

.data-table thead tr{
	background-color: #99B1C6;
}

.data-table tbody tr:nth-child(even){
	background-color: #f2f2f2;
}

.zero-pad{
	padding:0px;
}

.data-table thead th:nth-of-type(1){
	width:10%;
}
.data-table thead th:nth-of-type(2){
	width: 20%;
}
.data-table thead th:nth-of-type(3){
	width: 20%;
}
.data-table thead th:nth-of-type(4){
	width: 50%;
}

.data-table thead td:nth-of-type(1){
	width:10%;
}
.data-table thead td:nth-of-type(2){
	width: 20%;
}
.data-table thead td:nth-of-type(3){
	width: 20%;
}
.data-table thead td:nth-of-type(4){
	width: 50%;
}

.data-table th, .data-table td{
	text-align:center;
}

.data-table td:nth-of-type(1) a{
	font-size: 0.8rem;
}

.search{
	float: right;
	padding: 6px;
	border: none;
	margin-right: 16px;
	font-size: 1rem;
}

#redirect{
	color: black;
	font-size: 1.5rem;
	float: right;
}

#redirect:hover{
	color: #ffef00;
	text-decoration: none;
}

.project{
	padding-top: 1rem;
	margin-bottom: 1rem;
}

.project div{
	font-size: 2rem;
	text-align: center;
}

table{
	border: 2px solid black;
}

.page-list{
	margin-top: 1rem;
}

.pagination{
	justify-content: center;
}