.main{
	padding: 0px 0px;
}

@media all and (min-width: 1024px){
	.main{
		margin-left: 160px;
	}
}

.custom{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%
}


.tab-content h4{
	font-weight: 700;
	text-align: center;
	font-size: 3rem;
}

.tab-content img{
	height: 250px;
	width: 250px;
}

input[type=file]{
	font-size: 1rem;
}

.cntr{
	text-align: center;	
}

.palign{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.detail div{
	font-size: 1.5rem;
	margin-top: 1.5rem;
	font-weight: 600;
}

.detail div span{
	font-weight: 400;
}

input[type=submit]{
	margin-left: 1rem;;
}

.text-muted{
	font-size: 0.8rem;
}