body, html{
	height:100%;
}

.main{
	margin-left: 160px;
	padding: 0px 0px;
}

.sidenav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav a {
	text-align: center;
	padding: 2px 1px 5px 1px;
	text-decoration: none;
	font-size: 1.2em;
	color: black;
	display: block;
	margin-top:8px;
}

hr {
	margin: 0px 0px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.clr-side{
	background-color: #C5D0D9;
}

.clr-side-hvr:hover{
	background-color: white;
}

.card-custom{
	font-size: 1.2rem;
	width:60%;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.card-img{
	margin-top: 1rem;
	margin-left: 45%;
	margin-right: 45%;
	height:10%;
	width: 10%;
}

.cntr{
	text-align: center;
}

.details{
	margin-left:20%;
	margin-right: 20%;
	height:1.5em;
}

.details div:nth-of-type(1){
	float:left;
}

.details div:nth-of-type(2){
	float:right;
}

.card-body p{
	margin: 0.8em 0em;
}

.card-body h5{
	font-size: 2rem; 
	font-weight: 700;
}