.card-custom{
	width:60%;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.card-img{
	margin-top: 1rem;
	margin-left: 45%;
	margin-right: 45%;
	height:10%;
	width: 10%;
}

.cntr{
	text-align: center;
}

.project{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.project div{
	font-size: 2rem;
	text-align: center;
}